$index: calc(1vw + 1vh);

.book {
  position: relative;
  padding-top: 0 !important;
  width: 100%;

  &-wrapper {
    align-items: flex-start !important;
    background-color: #F5F5F5;
    padding: 12px;
    border-radius: 10px !important;

    .vkuiSimpleCell__content {
      max-width: 85% !important;
    }
  }

  &-title {
    font-size: clamp(14px, 3.9vw, 16px) !important;
    margin-bottom: 5px !important;
    white-space: wrap !important;
    line-height: 1 !important;
  }

  &-info {
    font-size: clamp(10px, 3.8vw, 13px) !important;
    line-height: 1.4 !important;
    opacity: 0.6;
  }

  &-author {
    white-space: wrap !important;
    font-size: clamp(10px, 3.6vw, 13px) !important;
    margin-bottom: 1% !important;
  }

  .vkuiSimpleCell__main {
    padding: 0 !important;
  }

}