$index: calc(1vw + 1vh);

.book {

  &-wrapper {
    align-items: flex-end !important;
    background-color: #F5F5F5;
    padding: 12px;
    border-radius: 10px !important;
  }

  &-img {
    height: calc($index * 10) !important;
    max-height: 116px;
    width: calc($index * 10) !important;
    max-width: 96px;
  }

  &-title {
    font-size: 16px;
    margin-bottom: 5px !important;
    white-space: wrap !important;
  }

  &-author {
    margin-bottom: 15px !important;
    white-space: wrap !important;
  }

  .vkuiSimpleCell__main {
    padding: 0 !important;
  }
  
}