$index: calc(1vw + 1vh);

.card-in-categories {
  background-color: transparent !important;
  padding: 0 10px 10px;
  width: 100% !important;
}

.card {
  // background-color: #ddd;
  background-color: transparent !important;
  padding: 0 10px 10px;
  width: 15% !important;


  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__icon {
    background-color: #E9E9E9;
    width: calc($index * 4);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  &__text {
    display: block;
    font-size: 10px;
    line-height: 1.2;
    word-wrap: break-word;
  }
}