$sizeBtn: 74px;
$widthBtn: 74px;

.btnNavBar {
    width: $widthBtn;
    height: $sizeBtn;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}