$background-nav-bar: #AAAAAA;
$heightNavBar: 80px;

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: $heightNavBar;
    background-color: $background-nav-bar;
    position: fixed;
    bottom: 0;
    z-index: 100%;
    width: 100%;
}