.to-chat-btn {
  position: absolute !important;
  top: 40px;
  right: 22px;
  z-index: 1;
}

.edit-book {
  position: absolute !important;
  top: 0px;
  right: 22px;
  z-index: 1;
}

.delete-book-btn {
  position: absolute !important;
  top: 37px;
  right: 22px;
  z-index: 1;
}