.to-chat-btn {
  position: absolute;
  top: 35px;
  right: 20px;
  z-index: 1;
  padding: 5px;
}

.edit-book {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 1;
  padding: 5px;
}

.delete-book-btn {
  position: absolute;
  top: 35px;
  right: 20px;
  z-index: 1;
  padding: 5px;
}