.wrapper {
  margin-bottom: 15px;

  .userBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .name {
    display: flex;
    margin-bottom: 5px;
  }

  .text {
    font-size: 18px !important;
    margin-bottom: 5px;
  }

}