.buttonTop {
  position: absolute !important;
  top: 0.15rem;
  right: 0.15rem;
  width: 38px;
  height: 38px;
}

.buttonBottom {
  position: absolute !important;
  top: 2.5rem;
  right: 0.15rem;
  width: 38px;
  height: 38px;
}