.modalPage {
    display: flex;
    flex-direction: column;

    .bookImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .vkuiGroup__inner {
            width: 100%;
        }

        .book-img {
            width: 100% !important;
            height: 230px !important;
            overflow: hidden;
            border-radius: 10px;
        }
    }

    .nameBook {
        font-size: 21px;
        margin-bottom: 4px;
        line-height: 1.15;
    }

    .bookAuthor {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .bookCategory {
        font-size: 16px;
        line-height: 1.15;
        margin-bottom: 4px;
    }

    .bookIsbn {
        color: #818c99;
        font-size: 13px;
    }

    .bookText {
        font-size: 16px;
        margin-bottom: 4px;
        position: relative;
    }

    .bookInfo {
        width: 100px !important;
    }

}


.groupBookInformation {
    margin-top: 16px;
}

.buttonBlock {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    // padding-bottom: 50px;
}

.gallery {
    display: flex;
    justify-content: center;
    //padding-bottom: 250px;
}

.bottomStatus {
    padding-bottom: 50px;
}

.statusBookPage {
    display: flex;
    flex-direction: column;
}

.text {
    white-space: normal;
}

.statusBook {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: -20px;
}