.onboarding__wrapper {
  margin-top: 50px;
}

.onboarding__title {
  margin-bottom: 17px !important;
}

.onboarding__content {
  display: flex;
  flex-direction: column;
}

.onboarding__img {
  margin: 0 auto;
  margin-bottom: 55px;
  max-width: 300px;
  aspect-ratio: 1 / 1;
}

.nav-buttons-box {
  position: fixed;
  bottom: 50px;
  right: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 999;

  @media (min-width: 550px) {
    background-color: #636363;
    border-radius: 10px;
    padding: 10px !important;
    right: auto;
    left: 50%;
      bottom: 50px;
    transform: translateX(-50%);
  }

  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1 !important;
  }

}