$dt-bg: #2d2c2c;

.vkuiGroup__inner {
  padding: 0 !important;
}

// Dark-theme normilizer 
.vkui--sizeX-none.vkui--vkBase--dark,
.vkui--sizeX-none.vkui--vkIOS--dark {
  .book-wrapper {
    background-color: $dt-bg !important;
  }

  .card__icon {
    background-color: $dt-bg !important;
  }

  .file-input {
    background-color: #292929 !important;
  }

}

input[type='file'] {
  position: relative;
  outline: none;
  border: 1px solid transparent;
  overflow: hidden;

  &:active,
  &:focus,
  &:hover {
    border-color: #3F8AE0;
  }
}

input[type='file']::file-selector-button {
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  border: none;
  background-image: url('../../public/img/svg/add-cross.svg');
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
}

.vkuiIconButton .vkuiIcon--28 {
  padding: 5px !important;
}

.delete-btn-modal {
  .vkuiDiv {
    width: 100% !important;
  }
}