.card {
  position: relative !important;
}

.book {
  position: relative !important;
  padding: 0 !important;
  display: flex !important;
  align-items: start !important;
}

.bookContent {
  padding: 0 10px !important;
  max-width: 60%;
  white-space: wrap !important;
}

.title {
  font-size: 16px !important;
  font-weight: 600;
  margin-bottom: 7px !important;
  line-height: 1 !important;
}

.author {
  font-size: 13px !important;
  color: #6D7885;
  line-height: 1 !important;
  margin-bottom: 8px !important;
}

.info {
  font-size: 12px !important;
  color: #6D7885;
  line-height: 1 !important;
  margin-bottom: 4px !important;
}